html {
    padding: 0px;
    margin: 0px;
}

body {
    padding: 0px;
    margin: 0px;
    margin-top: 5%;
    text-align:center;
    background: #002366;
    background: -moz-radial-gradient( 50% 50%, circle, #990000, #730000 );
    background: -webkit-radial-gradient( 50% 25%, circle, #990000, #730000 );
}

#logotype {
    font-size: 110px;
    color: #ff5555;
    text-shadow: #5f2020 4px 4px 10px;
    font-weight: normal;
    font-family:  "Leckerli One", "Arial"
}

#logo {
	padding-top: 30px;
}

#tagline {
    padding-top: 30px;
    color: white;
    font-size: 200%;
    width: 100%;
    margin: 0 auto;
    text-shadow: #5f2020 4px 4px 10px;
    font-family:  "Leckerli One", "Arial"
}

#codestatus {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
    font-family: "Megrim", cursive;
    text-align: right;
    color: black;
}

#githubUpdate {
    background: #ff5555;
    width: 500px;
    margin: 0 auto;
    -moz-border-radius:10px;
    border-radius:10px;
    -webkit-border-radius:10px;
    box-shadow: #5f2020 4px 4px 10px;
    font-family: "Georgia";
    padding:0 0 20px;
    margin-top:50px;
}

#githubUpdate dt {
    text-align:left;
    padding:5px;
    font-size:12px;
    background:#aaa;
    -moz-border-radius: 10px 0 10px 0;
    border-radius: 10px 0 10px 0;
    -webkit-border-radius: 10px 0 10px 0;
    font-weight:bold;
    width:155px;
    text-shadow: #666 2px 2px 5px;
}

#githubUpdate dd {
    text-align:left;
    padding:5px;
    margin-top:10px;
    text-shadow: #5f2020 4px 4px 10px;
}
    
#latestCommitURL {
    text-decoration:none;
    text-shadow: #5f2020 4px 4px 10px;
}
    