html {
    padding: 0px;
    margin: 0px;
}

body {
    padding: 0px;
    margin: 0px;
    margin-top: 5%;
    text-align:center;
    background: #002366;
    background: -moz-radial-gradient( 50% 50%, circle, #990000, #730000 );
    background: -webkit-radial-gradient( 50% 25%, circle, #990000, #730000 );
}

#logotype {
    font-size: 110px;
    color: #ff5555;
    text-shadow: #5f2020 4px 4px 10px;
    font-weight: normal;
    font-family:  "Leckerli One", "Arial"
}

#logo {
	padding-top: 30px;
}

#tagline {
    padding-top: 30px;
    color: white;
    font-size: 200%;
    width: 100%;
    margin: 0 auto;
    text-shadow: #5f2020 4px 4px 10px;
    font-family:  "Leckerli One", "Arial"
}

#codestatus {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
    font-family: "Megrim", cursive;
    text-align: right;
    color: black;
}